body {
  background: #333;
  color: #fff;
  min-height: 95vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

canvas {
  background: #f0f0f0;
  border: 1px solid #000;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
